.wrap{
    width: 300px;
    position: relative;
    margin: 0 auto;
}
.searchBox{
    width: 300px;
    height: 35px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid;
    box-sizing: border-box;
    overflow: hidden;
}
.input{
    flex: 1;  
    font-size: 18px;
    border: none;
}
.btn{
    outline: none;
    border: none;
    width: 50px;
    background-color: #4e6ef2;
    font-size: 12px;
    color: #fff;
}

.searchCont{
    width: 250px;
    border-top: none;
    height: 120px;
    border: 1px solid;
    position: absolute;
    display: none;
    overflow: hidden;
}

.searchUL{
    /* margin: 5px; */
}

.searchLI{
    margin: 5px;
    height: 15px;
    cursor: pointer;
    /* background-color:lightpink;  */
}

.searchLI:hover{
    background-color:lavender;
    color: #4e6ef2;
}
